<div class="jumbotron">
    <div id="app">
        <div class='card'>
            <div class='card-body'>
                <div class="form-inline">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="inputPassword2" class="sr-only">Password</label>
                        <input v-model="id" type="text" class="form-control" id="inputPassword2" placeholder="ID">
                    </div>
                    <button type="button" v-on:click="search" class="btn btn-primary mb-2">Search</button>
                </div>

                <div class='table-responsive'>
                    <table class='table'>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>NAME</th>
                                <th>CONTRACT TYPE</th>
                                <th>ROLE NAME</th>
                                <th>SALARY</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="employee in employees" :key="employee.Id">
                                <td>{{ employee.Id }}</td>
                                <td>{{ employee.Name }}</td>
                                <td>{{ employee.ContractTypeName }}</td>
                                <td>{{ employee.RoleName }}</td>
                                <td>{{ employee.Salary }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/scripts/index.js")
